.App {
  text-align: center;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 140px;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  border-radius: 40px;

}

.App-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  padding: 20px;
  flex-grow: 1;
}