.pizza-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  margin: 10px;
}

.pizza-item {
  border: 4px outset #a64141;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  
}

h4{
  background-color: rgba(211, 182, 182, 0.959);
  border-style: outset;
  font-size: larger;
  
p{
  background-color: rgb(255, 254, 254);
  border-style:ridge;
}