.pizza-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pizza-item {
  margin: 10px;
  flex: 0 0 30%;
}

.cart-summary {
  margin-top: 20px;
  text-align: right;
}
.pizza-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.pizza-card-content {
  flex-grow: 1;
}

.pizza-card-actions {
  margin-top: auto;
}
